
.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
 
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .overlay {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background: rgb(19 18 18 / 68%);
    color: rgb(218, 218, 218);
    padding: 126px;
    box-sizing: border-box;
}
nav#lappinav {
    z-index: 999;
}
.contacth2{
    text-align: center;
    font-size: 5rem;
   
}

  .left {
    flex: 1;
    padding: 20px;
  }
  
  
  
  .left p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  

  .right {
    flex: 0.7;
    padding: 40px;
    background: rgb(0 0 0);
    border-radius: 8px;
    color: #333;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2.formcnt {
    margin-left: 38px;
   
}
p.intersted {
    color: #ffffff52;
    margin-left: 42px;
    font-size: 12px;
    margin-top: 9px;
}
.button-group button {
    padding: 10px 1.2rem;
    background: #080808;
    color: #f0ecec79;
    /* border: none; */
    border-radius: 4px;
    cursor: pointer;
    font-size: 10px;
   margin-left: 10px;
    border: 1px solid #f0ecec5d;
}
.button-group button:hover {
   border: 1px solid white;
color: white;
background-color: black;}
  .form-group {
    margin-bottom: 8px;
  }
  .background-video{
    height: 100%;
  }
  .form-group button {
    padding: 20px;
    background: #f4f4f4;
    color: #111010;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  @media screen and (max-width :600px) {
    h1.contacth2 {
     
      font-size: 15px;
  }
  }
  
  

  .form-group input, .form-group textarea {
    width: 88%;
    padding: 0.5rem;
    border: 1px solid #dddddd00;
    border-radius: 4px;
    background: none;
    border-bottom: 1px solid #ffffff24;
    /* padding-left: 20px; */
}
button#send {
    padding: 11px;
    border-radius: 10px;
    border: none;
}
.button-group {
    margin-top: 19px;
    margin-left: 20px;
    /* margin-bottom: 22px; */
}
button#btn2 {
    margin-top: 6px;
}
form {
    padding: 26px;
}