@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Inconsolata:wght@200..900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Calistoga&family=Space+Grotesk:wght@300..700&display=swap');
*{

  margin: 0;
  padding: 0;
}

body{
  background-color:#FFF8EE;
  font-family: "Bricolage Grotesque", sans-serif;
}

.homepage {
  text-align: center;
  display: flex;
  
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
 
}

.homepage h1 {
  color: black;
  font-size: 5rem;
  /* text-align: center; */
  text-align: left;
  margin-top: 30px;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 700;
  margin-left: 2px;
}

/* .homepage p {
  text-align: center;
  border-radius: 90px;
  margin: 10px;
  

  background-color: #912f56;
  color: black;
  width: 70%;
  padding: 10px;
  font-family: "Cookie", cursive;
  font-size: 10rem;
} */

.homepage h3 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 2.5rem;
  color: black;
  display: flex;
  font-weight: 400;
}

.myprojectsection h3{
  text-align: center;
  /* margin: 150px 50px; */
  margin-bottom: 40px;
  font-size: 3.5rem;
}
.myprojectsection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 34px;
 height: 100vh;
}


#me {
  /* position: absolute;
  z-index: -1;
  
  left: 50%;
  top: 58%;
  transform: translate(-50%, -50%); */
  height: 350px;
}

.card{
  display: flex;
  flex-direction: row
}
.projects div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1rem;
  border: 1px solid;
  padding: 20px 35px;
  border-radius: 20px;
  width: 150px;
  height: 120px;
  background-color: black;
  color: white;
}


.projects div button{
  width: 100%;
  padding: 10px 20px;
  background-color: white;
  border-radius: 90px;
  outline: none;
  border: none;
}



.projects h2{
 font-size: 1.1rem;
}
.projects div button a{
  text-decoration: none;
  color: black;
}


.projects {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap:wrap;
  gap: 50px;
  margin: 50px 190px;
}

/* CSS FOR NAVABAR */
#lappinav {
  bottom: 5%;
  position: fixed;
  background: black;
  color: white;
  padding: 15px 40px;
  border-radius: 54px;
  font-family: "Bricolage Grotesque", sans-serif;

}
#lappinav {
  bottom: 5%;
  position: fixed;
  background: black;
  color: white;
  padding: 15px 40px;
  border-radius: 54px;
  font-family: "Bricolage Grotesque", sans-serif;

}

#phonenav ul {
  
  display: none;
}
 ul {
  /* text-decoration: none; */
  display: flex;
  gap: 40px;
  font-size: 1.3rem;
  font-weight:500;
}
  li {

  list-style: none;
}
.toggel {
  display: none;
}


@media screen and (max-width :600px) {

  #lappinav{
    display: none;
  }
  
  body{
    overflow: hidden;
  }
  

  .toggel {
    background: black;
    width: 48px;
    height: 60px;
    /* float: left; */
    position: absolute;
    right: 0%;
    top: 4%;
    border-radius: 90px 0px 0px 90px;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-out all;
    
}


.togglekabap{
  position: absolute;
    right: 0%;
    top: 4%;
  width: 48px;
  height: 48px;
  background-color: red;
}
.toggel span {
  color: white;
  text-align: center;
 
  display: flex;
  /* line-height: 46px; */
}
.fulltoggel {
  background: black;
  width: 90%;
  /* float: left; */
  position: absolute;
  right: 1%;
  top: 4%;
  border-radius: 26px;
  transition: 1s ease-out all;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  align-items: flex-start;
  height: 60px;
}

#phonenav{
/* background-color: blueviolet; */
z-index: 999;
display: block;
/* background: black; */
    color: white;
  
}

nav#phonenav li {
  margin: 16px  -69px  17px 14px;
  color: white;
  display: block;
  /* font-size: 25px; */
  line-height: 23px;
  /* margin: -23px; */
}
    
nav#phonenav ul li span {
  font-size: 1.7rem;
}
nav#phonenav  ul {
  /* text-decoration: none; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 84px;
  margin-left: 20px;
  font-size: 1.7rem;
  font-weight:500;
  /* justify-content: center; */

}
nav#phonenav  li {

  list-style: none;
}


  #me {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    position: relative;
    height: 322px;
    margin-top: -65px;
}
  .homepage{

    display: flex;
    margin-top: 30px;
    flex-direction: column;
    transition: 0.5s ease-out all;
    overflow: hidden;
    width: 100%;
  }
  
  .homepage h1{
    display: flex;
    justify-content: space-around;
 font-size: 3.3rem;

  }
  
  .homepage p{
  
    font-size: 1rem;
    
  }

  .homepage {
    display: flex;



    width: 100%;
    font-size: 2rem;
    overflow: hidden;
    justify-content: space-around;
    height: 100vh;
    
}

.homepage h3 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 1.4rem;
  color: black;
  display: flex;
  font-weight: 400;
}

}